<?xml version="1.0"?>

<model>
  <name>TurtleBot3(Burger)</name>
  <version>2.0</version>
  <sdf version="1.4">model-1_4.sdf</sdf>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Ahmed_Muhammad</name>
    <email>muhammad.ahmed@metu.edu.tr</email>
  </author>

  <description>
    TurtleBot3 Burger
  </description>
</model>
