<?xml version="1.0"?>

<model>
  <name>Infinity</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Ahmed Muhammad</name>
    <email>muhammad.ahmed@metu.edu.tr</email>
  </author>

  <description>
    Infinity model for the Sokoban game
  </description>
</model>
